<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">
  
  <context-param>
  	<param-name>City</param-name>
  	<param-value>Wakefield</param-value>
  </context-param>
  
    <servlet>
        <servlet-name>for chapter 5</servlet-name>
        <servlet-class>com.example.servlet.Chapter5Servlet</servlet-class>
        
		<init-param>
			<param-name>adminEmail</param-name>
			<param-value>andriusjavait@gmail.com</param-value>
		</init-param>
		<init-param>
			<param-name>otherEmail</param-name>
			<param-value>xandrejox@yahoo.com</param-value>
		</init-param>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>for chapter 5</servlet-name>
        <url-pattern>/chapter5.do</url-pattern>
    </servlet-mapping>

</web-app>
